
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;700&family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@700&family=Open+Sans:ital,wght@1,300;1,400&family=PT+Sans&family=Roboto+Condensed:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color:#424242 ;
}
nav-title{
    font-size: 3rem;
    color: var(--dark-01, #131313);
text-align: center;
font-family: Work Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.baner-content{
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.baner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.baner-discript{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFFFFF;
    font-size: 1.25rem;
    cursor:pointer;
    border: 0;

}
.baner img{
    margin-top: 20px;
    width: 100%;

}
@media screen and (max-width:576px) {
    header{
        padding:20px;
    }
    nav {
        flex-direction: column;
    }
    
}
@media screen and (max-width:960px) {
    nav {
        flex-direction: column;
    }
    header{
        padding:40px;
    }
}







